/* styles.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #333;
    color: white;
}

/* Logo Section Adjustments */
.logo {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
}

.logo img {
    height: 50px; /* Adjust height to match the text */
    margin-right: 10px; /* Space between the flag and the text */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero Section with Parallax */
#hero {
    position: relative;
    height: 40vh; /* Adjusting the height */
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://mathexpert314.github.io/kattovania.github.io/clock-tower.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center 40%;
    z-index: -1;
    will-change: transform;
}

#hero h2 {
    position: absolute;
    bottom: 20px; /* Position text above the image */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Change text color for better visibility */
    text-align: center; /* Center text */
}

#hero p {
    position: absolute;
    bottom: 60px; /* Position text above the image */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Change text color for better visibility */
    text-align: center; /* Center text */
}

/* Content Section Styles */
.content-section {
    padding: 2rem;
    background-color: #f4f4f4;
}

.content-section:nth-child(even) {
    background-color: #e4e4e4;
}

/* Footer Styles */
footer {
    padding: 1rem;
    background: #333;
    color: white;
    text-align: center;
}
